<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <script>
      <% resource.errors.full_messages.each do |message| %>
        iziToast.error({
          title: 'Error',
          message: '<%= message %>',
          position: 'topRight',
          timeout: 5000,
          icon: 'fa fa-exclamation-triangle',
        });
      <% end %>
    </script>
  </div>
<% end %>
